.accesos{
    text-align:center;
    font-family:"Arial";
    width:80%;
}
.quick-access{
    display: flex;
    flex-direction: row;
    width:80%;

}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.box-blue{
    background: white;
    border:1px solid #A4A4A4;
    width: 200px;
    height: 50px;
    outline:none;
}
.box-blue:hover{
    background:#EEEEEE;
}
.icons{
    width:80px;
    margin:-14px;

}
.bills{
    width: 30%;
}
p{
    font-family:"Arial";
    font-size:1rem;
    margin:.5rem;

}

.fila1{
display:inline-flex;
}